/* .gridRowSumsTime {
  fill: #797e87;
} */
.capacityChartRowSumsTime {
  fill: #fff;
}

.columnSums {
  fill: #1f2837;
}

.capacityChartRow {
  fill: #fff;
}

.capacityChartRow:nth-child(even) {
  fill: #f5f5f5;
}

.capacityChartRowLine {
  stroke: #ebeff2;
}

.capacityChartTick {
  stroke: #e6e4e4;
}
